{% if site.resume_social_links %}
<ul class="icon-links">

  <!-- Resume link -->
  {% if site.resume_social_links.resume_print_url %}
  <li class="icon-link-item" title="Resume">
    <a href="{{ site.resume_social_links.resume_print_url }}" class="icon-link" itemprop="sameAs" download="vitor_nogueira.pdf" title="Resume">
      {% include icons/icon-pdf.html %}
    </a>
  </li>
  {% endif %}

  <!-- GitHub link -->
  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link" itemprop="sameAs" title="Github">
      {% include icons/icon-github.html %}
    </a>
  </li>
  {% endif %}

  <!-- LinkedIn link -->
  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_linkedin_url }}" class="icon-link" itemprop="sameAs" title="LinkedIn">
      {% include icons/icon-linkedin.html %}
    </a>
  </li>
  {% endif %}

  <!-- Website link -->
  {% if site.resume_social_links.resume_website_url %}
  <li class="icon-link-item">
    <a href="{{ site.resume_social_links.resume_website_url }}" class="icon-link" itemprop="url" title="Website">
      {% include icons/icon-website.html %}
    </a>
  </li>
  {% endif %}

</ul>
{% endif %}
